---
import SettingsComponent from '../components/Settings.svelte';
---

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Настройки</title>
</head>
<body>
<SettingsComponent client:load />
</body>
</html>